

#nav{
    color: brown;
    background-color: rgb(43, 12, 116);
    margin-bottom: 0px;
}
ul {
    font-weight: 700;
}
.banner{
    background-image: url("njm.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0px;
    height: 1000px;
    
}
#one{
    padding: 380px 0;
}
h1{
    font-size: 80px;
    font-family: cursive;
}
h2{
    font-size: 50px;
    font-family: cursive;
}
#btn{
    background-color: rgb(43, 12, 116);
    font-weight: 700;
    
}
#spn{
    color: bisque;
    font-size: 40px;
}
#a-img{
    border: 1px solid transparent;
    border-radius: 700px;
}
#two{
    padding: 150px 0px;
}
#abt{
    color: rgb(43, 12, 116);
}
#spn2{
    color: black;
}
#a-dls{
    position: relative;left: 20px;
    font-family:cursive
}
#btn2{
    background-color: rgb(43, 12, 116);
    font-weight: 700;
    position: relative;left: 30px;
    padding: 8px 30px;
}
#spn3{
    color: rgb(43, 12, 116);
}
#hw{
    padding-top:100px ;
    padding-bottom: 30px;
}
#sh{
    padding-top: 120px;
}
#shh{
    padding-top: 120px;
    padding-bottom: 100px;
}
#bn{
background-color: white;
padding: 8px 20px;

color:rgb(43, 12, 116);
font-weight: 700;
margin-top: 10px;
margin-bottom: 30px; 

}
#fm{
 background-color:  rgb(43, 12, 116);  
}
#nn{
    padding-bottom: 50px;
}
#p{
    color: white;
    padding-top: 20px ;
    padding-bottom: 30px;
    text-align: center;
    font-family:cursive}